<ion-content class="corpo">
	<div class="topo">
		<br/><br/><br/>
		<img src="assets/imgs/logotipo.png" width="80%">
		<br/><br/><br/>
	</div>
	<div class="formacesso">
		<div class="txtoinit">
			Para acesso ao aplicativo JAUBRA, insira seus dados de acesso utilizando umas das opções abaixo:
		</div>
		<div class="wrpinput">
			 <ion-icon name="md-person"></ion-icon>
			<input type="number" placeholder="Insira seu CPF" [(ngModel)]="user.cpf">
		</div>

		<div class="wrpinput">
			 <ion-icon name="md-key"></ion-icon>
			<input type="password" placeholder="Insira sua Senha" [(ngModel)]="user.senha">
		</div>

		<div class="wrpinput btnac">
			<button ion-button block class="botaoacessar" (tap)="login(user.cpf, user.senha)">Acessar</button>
		</div>
		<br/>
		<hr>
		<br/>
		<div text-center class="socialLogin">
      		<button ion-button style="width: 100%;" class="facebook">
      			<ion-icon name="logo-facebook" style="margin-right: 12px;"></ion-icon>&nbsp; Login com Facebook
      		</button>      		
      		<button ion-button style="width: 100%;" class="google">
      			<ion-icon name="logo-google" style="margin-right: 12px;"></ion-icon>Login com Google
      		</button>
      		<button ion-button style="width: 100%;" class="cadastrar" (tap)="cadastrar()">
      			<ion-icon name="md-person-add" style="margin-right: 12px;"></ion-icon>Novo cadastro
      		</button>
  		</div>
	</div>
	<div class="rodape_cadast">
		<ion-label>Esqueceu seu usuário? <span (tap)="esqueciSenha()" style="text-decoration: underline">Clique aqui.</span></ion-label>
	</div>
</ion-content>

