page-login {
	.content, .footer{
		background-color: #1aacd9;
	}

	.topo{
		background-color: #fff;
	
	}
	.topo img{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.item{
		
		background-color: #1aacd9;
	}
	.formacesso{
		width: 100%;
	}
	.txtoinit{
		margin: 0 auto;
		width: 100%;
		color: #ffffff;
		padding-right: 10%;
		padding-left: 10%;
		margin-top: 10px;
		font-size: 12px;
    	font-weight: bold;
    	padding-top: 15px;
    	padding-bottom: 15px;
	}
	.icon{
		position: absolute;
		top: 15px;
		left: 50px;
		font-size: 30px;
		color: #67acd9;
	}
	.wrpinput{
		position: relative;
		width: 100%;
		padding-left: 10%;
		padding-right: 10%;

	    ::placeholder {
	      
	      color: #67acd9;
	    }
	}
	.btnac{
		margin-top: 10px;
		font-weight: bold;
	}
	button{
		box-shadow: none !important;
		border-color: rgba(0,0,0,0) !important;
		outline: none !important;
	}
	.botaoacessar{
		padding: 10px;
		background-color: #adcf36;
		font-size: 18px;
	}
	.rodape_cadast{
		/*position: fixed;*/
		bottom: 0;
		margin: 0 auto;
		color: #fff;
		width: 100%;
		text-align: center;
		font-size: 12px;
	}

	input{
		margin-top: 10px;
		width: 100%;
		padding: 10px;
		background-color: #fff;
		color: #67acd9;
		padding-left: 45px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		border: 0;
	}

	.socialLogin {
		position: relative;
		width: 100%;
		padding-left: 10%;
		padding-right: 10%;
		text-align: center;
		.icon{
			top: 4px;
			color: #ffffff;
		}
	}

	.facebook{
		background-color: #3b5998;
		font-size: 12px;
	}
	.google{
		background-color: #d13d35;
		font-size: 12px;
	}
	.cadastrar{
		background-color: #adcf36;
		font-size: 12px;
	}

}
