<ion-header>
	<ion-navbar color="dark">
		<ion-buttons left>
			<button (click)="dismiss()" ion-button icon-only>
				<ion-icon name="md-arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Cadastrar cartão de crédito</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div text-center>
		<img [src]="cardImage" width="100" style="margin: 0 auto" />
	</div>
	<ion-list>
		<ion-item>
			<ion-label floating>Número do cartão</ion-label>
			<ion-input [(ngModel)]="cartao.numero" type="number" (keyup)="checanumeros('cartao', $event)"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label floating>Mês vencimento</ion-label>
			<ion-input [(ngModel)]="cartao.mesvenc" type="number" (keyup)="checanumeros('mes', $event)"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label floating>Ano vencimento</ion-label>
			<ion-input [(ngModel)]="cartao.anovenc" type="number" (keyup)="checanumeros('ano', $event)"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label floating>CVV</ion-label>
			<ion-input [(ngModel)]="cartao.cvv" type="number" (keyup)="checanumeros('cvv', $event)"></ion-input>
		</ion-item>
	</ion-list>
	<ion-row>
		<ion-col text-center>
		  <button ion-button block color="dark" (tap)="salvar(cartao)">
		    Salvar
		  </button>
		</ion-col>
	</ion-row>
</ion-content>
