<ion-header>
  <ion-navbar>
    <ion-title text-center>Cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="txtende">
		Qual é o número do seu celular?
	</div>
	<div class="wrpinput">
		<ion-icon name="md-close-circle" (tap)="limpa()" class="icone"></ion-icon>
		<input type="tel" [(ngModel)]="cadastro.celular">
	</div>
	<br/>
	<div class="btnemail" (tap)="cpf(cadastro.celular)">CONTINUAR</div>
</ion-content>
