<ion-header>
  <ion-navbar>
    <ion-title text-center>Cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="txtende">
		Crie sua senha
	</div>
	<div class="wrpinput">
		<ion-icon name="md-close-circle" (tap)="limpa()" class="icone"></ion-icon>
		<input type="password" [(ngModel)]="cadastro.senha">
	</div>
	<br/>
	<div class="btnemail" (tap)="confirmasenha(cadastro.senha)">CONTINUAR</div>
</ion-content>
