<ion-header no-border transparent>
  <ion-navbar transparent>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
	<ion-buttons *ngIf="appOn" right>
		<ion-item *ngIf="!emcorrida">
			<ion-label>Off/On</ion-label>
			<ion-toggle (ionChange)="statusMudar()" [(ngModel)]="statusMorotista"></ion-toggle>
		</ion-item>
	</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<div *ngIf="infomarkrpass" class="infomarkrpass">
		<div id="corridainfo" class="corridainfo" > 
			<span (click)="fechaInfo()" class="btn_fechar">x</span>
			<p><span class="text_info">Origem</span>{{origem}}</p>
			<p><span class="text_info">Destino</span>{{destino}}</p>
			<!--<p><span class="text_info">distancia</span>2.5 km</p>-->
			<br/>
			<p (click)="atenderChamada(dadosdestacorrida,$event)" style="text-align: center;"><span class="btn_info">Aceitar</span></p>
		</div>
	</div>
	<div #map id="map"></div>
</ion-content>

<!--
<ion-footer *ngIf="busca_passageiro">
  <ion-toolbar>
	<ion-item>
		<button ion-button outline small color="danger" (click)="cancelarBusca()">Cancelar</button>
		<button ion-button outline small color="dark" (click)="iniciarMensagem()">
		  <ion-icon name="md-chatboxes"></ion-icon>
		</button>
		<button ion-button outline small color="dark" (click)="ligarParaMotorista(motorista_corrida.celular)">
		  <ion-icon name="md-call"></ion-icon>
		</button>
	</ion-item>
  </ion-toolbar>
</ion-footer>
-->

<!--
<ion-footer *ngIf="busca_passageiro">
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="cancelarBusca()" color="danger">
        Cancelar
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button outline small color="dark" (click)="iniciarMensagem()">
        <ion-icon name="md-chatboxes"></ion-icon>
      </button>
      <button ion-button outline small color="save">
        <ion-icon name="md-call"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
-->

<ion-footer *ngIf="busca_passageiro">
  <ion-toolbar padding>
    <div class="footer_info_motorista">
  		<div>
        <button ion-button full (click)="cancelarBusca()" color="danger">
          Cancelar corrida
        </button>
  		</div>
  		<!--
      <div style="float: left;">
        <button ion-button (click)="cancelarBusca()" color="danger">
          Cancelar
        </button>
      </div>
      <div style="float: right;">
        <button ion-button color="dark" (click)="iniciarMensagem()">
          <ion-icon name="md-chatboxes"></ion-icon>
        </button>

        
        <a ion-button primary href="tel:{{telefone}}" class="button button-positive">
          <ion-icon name="call"></ion-icon>
        </a>
        

        <button ion-button color="save">
          <ion-icon name="md-call"></ion-icon>
        </button>
  		</div>-->
    </div>
  </ion-toolbar>
</ion-footer>