page-home-motorista {
	#map{
		height: 100%;
		width: 100%;
	}

	ion-header{
		background-color: #f50;
		height: 0px;
	}
	.bgmoto{
		background-color: #f0f0f0;
	}
	.boxcorrican{
		padding: 10px;
		text-align: center;
	}
	.corrida_cancelada{
		color:red;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.infomarkrpass{
		/*display: none;*/
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 555555555555;
		background-color:rgba(0, 0, 0, 0.5);
	}

	.corridainfo{
		position: absolute;
		width: 95%;
		background-color: #fff;
		color: #33afb5;
		border-radius: 4px;

		padding: 30px;
		right: 10px;
		top: 30%;

	}

    .text_info{
    	color: #333;
    	margin-right: 10px;
    }
    .btn_info{
    	border-radius: 5px;
    	padding: 5px;
    	background-color: #33afb5;
    	color: #fff;
    	padding: 15px;
    }
    .btn_fechar{
    	font-size: 16px;
    	color: #fff;
    	position: absolute;
    	right: -4px;
    	top: -8px;
    	padding: 15px;
    	padding-left: 20px;
    	padding-right: 20px;
    	background-color: #33afb5;
    	border-radius: 50%;
    }
}
