<ion-header>
  <ion-navbar>
    <ion-title text-center>Cadastro</ion-title>
    <span class="btnpular" (tap)="pular()"> Continuar </span>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="txtende" text-center>
		Adicione uma foto de perfil
	</div>
	
	<div text-center>
		<img style="max-width: 100%" [src]="captureDataUrl" *ngIf="captureDataUrl"/>
	</div>
	<!--<button ion-button full (tap)="uploadImage()" *ngIf="captureDataUrl">Enviar</button>-->
</ion-content>

<ion-footer no-shadow>
	
	<ion-toolbar position="bottom">
		<div class="btnemail" (tap)="pictureFromGallery()">Escolher uma foto</div>
		<!--<div class="btnemail" (tap)="escolherFoto()">Escolher uma foto</div>-->
	</ion-toolbar>
	
	<ion-toolbar position="bottom">
		<div class="btnemail" (tap)="pictureFromCamera()">Tirar uma foto</div>
		<!--<div class="btnemail" (tap)="tirarFoto()">Tirar uma foto</div>-->
	</ion-toolbar>

</ion-footer>