<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Endereços</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<div style="margin: 0 auto; " text-center>Escolha o endereço padrão</div>

	<br/><br/>
	
	<ion-list radio-group [(ngModel)]="defaulend">
		<!--
		<ion-item-sliding *ngFor="let ende of address" #item>
			<ion-item *ngIf="ende.default == 0" style="position: relative;">
				<span class="enderedefaul" *ngIf="ende.default == 1" item-start>&laquo;</span>
				{{ende.descricao}}
			</ion-item>
			<ion-item *ngIf="ende.default == 1" style="position: relative; color: #9E9E9E">
				<span class="enderedefaul" *ngIf="ende.default == 1" item-start>&laquo;</span>
				{{ende.descricao}}
			</ion-item>
			
			<ion-item-options side="right">
				<button *ngIf="ende.default == 1" ion-button color="secondary" (click)="escolherPadrao(item)">Remover padrão</button>
				<button *ngIf="ende.default == 0" ion-button color="primary" (click)="removerPadrao(item)">Escolher padrão</button>
				<button ion-button color="danger" (click)="apagar(ende.id)">Apagar</button>
			</ion-item-options>
		</ion-item-sliding>
		-->
		<ion-item *ngFor="let ende of address">
			<ion-label>{{ende.logradouro}}, {{ende.bairro}} - {{ende.cidade}}</ion-label>
			<ion-radio value="{{ende.id}}" (ionSelect)="selecionarPadrao(ende.id)"></ion-radio>
		</ion-item>

	</ion-list>

	<br/><br/>
	<ion-row>
		<ion-col text-center>
			<button ion-button full outline color="primary" (tap)="addEndereco()" style="font-size: 12px;">
				Adicionar endereço
			</button>
		</ion-col>
	</ion-row>

</ion-content>