<ion-header no-border>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content >
	<div class="central">
	<div class="txtprin">Ao se cadastrar, você concorda<br/>
	com nossos <span class="txtdest">Termos de uso</span><br/>
	e nossa <span class="txtdest">Política de Privacidade.</span></div>
	<br/>
	<div class="btncomecar" (tap)="email()">COMEÇAR</div>
	</div>
</ion-content>
