page-cadastro-termos {
	
	.content{
		background-color: #ededf2;
	}

	.central{
		padding: 47px;
	}

	.toolbar-md{
		min-height: 10px;
	}
	
	.toolbar-background-md{
		background-color:#ededf2;
	}

	.txtprin{
		text-align: center;
		margin: 0 auto;
		margin-top: 50%;
		color: #878787;
		font-size: 18px;
		font-weight: 100;
	}

	.txtdest{
		color: #1d69f5;
		font-stretch: ultra-expanded;
		font-weight: 100;
	}

	.btncomecar{
		font-weight: bold;
		text-align: center;
		color: #fff;
		padding: 10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #4193a6;
	}
}
