<ion-header>
  <ion-navbar color="dark">
		<ion-buttons left>
			<button (click)="dismiss()" ion-button icon-only>
				<ion-icon name="md-arrow-back"></ion-icon>
			</button>
		</ion-buttons>
    <ion-title>Adicionar veículo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<ion-item>
		<ion-label floating>Veículo</ion-label>
		<ion-input [(ngModel)]="carro.descricao" type="text"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label floating>Ano</ion-label>
		<ion-datetime min="2007" doneText="Selecionar" cancelText="Cancelar" displayFormat="YYYY" [(ngModel)]="carro.ano"></ion-datetime>
	</ion-item>

	<ion-item>
		<ion-label floating>Modelo</ion-label>
		<ion-datetime min="2007" doneText="Selecionar" cancelText="Cancelar" displayFormat="YYYY" [(ngModel)]="carro.modelo"></ion-datetime>
	</ion-item>

	<ion-item>
		<ion-label floating>Cor</ion-label>
		<ion-input [(ngModel)]="carro.cor" type="text"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label floating>Renavam</ion-label>
		<ion-input [(ngModel)]="carro.renavam" type="number"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label floating>Chassi</ion-label>
		<ion-input [(ngModel)]="carro.chassi" type="text" style="text-transform: uppercase"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label floating>Placa</ion-label>
		<ion-input [(ngModel)]="carro.placa" type="text" style="text-transform: uppercase"></ion-input>
	</ion-item>
	<br/>

  <ion-item>
    <button ion-button block color="light" (tap)="fotodocum()" icon-start>
    <ion-icon name="camera"></ion-icon>
    Imagem documento
    </button>
    <div text-center *ngIf="image_doc">
     <ion-icon color="secondary" name="checkmark-circle">  Imagem selecionada  </ion-icon> 
    </div>
   </ion-item>
  <br/>
 

	<ion-row>
		<ion-col text-center>
			<button ion-button block color="dark" (tap)="salvar(carro)">
				Salvar
			</button>
		</ion-col>
	</ion-row>

</ion-content>
