page-cadastro-email {
	.toolbar-background-md{
		background-color:#fff;
	}
	.content{
		background-color: #ededf2;
	}

	.txtende{
		margin: 0 auto;
		width: 100%;
		color: #216c8a;
		padding-right: 10%;
		padding-left: 10%;
		margin-top: 10px;
		font-size: 19px;
    	padding-top: 15px;
    	padding-bottom: 15px;
	}
	.icone{
		position: absolute;
	    top: 19px;
	    right: 5px;
		font-size: 22px;
		color: #cacaca;
	}
	.wrpinput{
		position: relative;
		width: 100%;
	    ::placeholder {
	      color: #67acd9;
	    }
	}
	.btnemail{
		font-weight: bold;
		text-align: center;
		color: #fff;
		padding: 10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #4193a6;
	}
	input{
		margin-top: 10px;
		width: 100%;
		padding: 10px;
		background-color: #fff;
		color: #67acd9;
		padding-right: 30px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		border: 0;
	}
}
