<ion-header>
  <ion-navbar>
    <ion-title text-center>Cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="txtende">
		Qual seu endereço de email?
	</div>
	<div class="wrpinput">
		<ion-icon name="md-close-circle" (tap)="limpa()" class="icone"></ion-icon>
		<input type="email" [(ngModel)]="cadastro.email">
	</div>
	<br/>
	<div class="btnemail" (tap)="nome(cadastro.email)">CONTINUAR</div>
</ion-content>
