<ion-header no-border transparent>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  	<!-- <div *ngIf="showmaps"></div> -->
	<div 
	*ngIf="destinselec" 
	class="searchorig searchbar searchbar-md ng-valid searchbar-left-aligned searchbar-active ng-touched ng-dirty" 
	placeholder="Endereço de origem">
		<div class="searchbar-input-container">
			<button class="searchbar-md-cancel disable-hover button button-md button-clear button-clear-md button-clear-md-dark" clear="" color="dark" ion-button="" mode="md" type="button">
				<span class="button-inner">
					<ion-icon name="md-arrow-back" role="img" class="icon icon-md ion-md-arrow-back" aria-label="arrow back"></ion-icon>
				</span>
				<div class="button-effect"></div>
			</button>
			<div class="icone_origem"></div>
			<input 
			class="searchbar-input" 
			id="buscaorigem" 
			dir="auto" 
			[(ngModel)]="autocomplete.query_origem" 
			placeholder="Endereço de origem" 
			type="search" 
			autocomplete="off" 
			autocorrect="off" 
			(tap)="meuslocais()"
			spellcheck="false">
			<button class="searchbar-clear-icon disable-hover button button-md button-clear button-clear-md" clear="" ion-button="" type="button"><span class="button-inner"></span>
				<div class="button-effect" style="transform: translate3d(-13px, -9px, 0px) scale(1); height: 64px; width: 64px; opacity: 0; transition: transform 262ms, opacity 183ms 79ms;">
				</div>
			</button>
		</div>
	</div>

	<div
	*ngIf="origselec"
	class="searchdest searchbar searchbar-md ng-untouched ng-pristine ng-valid searchbar-left-aligned" 
	placeholder="Endereço de destino" 
	style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); margin-bottom: -17px">
		<div class="searchbar-input-container">
			<button class="searchbar-md-cancel disable-hover button button-md button-clear button-clear-md button-clear-md-dark" clear="" color="dark" ion-button="" mode="md" type="button">
				<span class="button-inner">
					<ion-icon name="md-arrow-back" role="img" class="icon icon-md ion-md-arrow-back" aria-label="arrow back"></ion-icon>
				</span>
				<div class="button-effect"></div>
			</button>
			<div class="icone_destino"></div>
			<input 
			class="searchbar-input" 
			id="buscadestino" 
			(keyup)="buscaEndeDestino()" 
			(tap)="abreLocaisSalvos()" 
			[(ngModel)]="autocomplete.query_destino" 
			dir="auto" 
			placeholder="Endereço de destino" 
			type="search" 
			autocomplete="off" 
			autocorrect="off" 
			spellcheck="false">
			<button class="searchbar-clear-icon disable-hover button button-md button-clear button-clear-md" clear="" ion-button="" type="button">
				<span class="button-inner"></span>
				<div class="button-effect"></div>
			</button>
		</div>

		<div [ngClass]="iniciarbusca ? 'buscaend' : 'closebuscaend'">
			<ion-list padding style="overflow: auto; max-height: 300px;">
				<div class="textoinfoend">
					{{textoinfoend_var}}
				</div>
				<ion-item text-wrap *ngFor="let item of autocompleteItems" tappable (click)="escolherEndereco(item)">
					<ion-icon name="ios-pin"></ion-icon> {{ item.descricao }}
				</ion-item>
			</ion-list>
			
			<!--
			<ion-list padding style="border-top: 1px solid #ccc;">
				<ion-item (tap)="meuslocais()">
				    <ion-icon name="ios-star-outline" item-start></ion-icon>
				    	Locais Salvos
				    <ion-icon name="ios-arrow-forward" item-end></ion-icon>
			  	</ion-item>
	  		</ion-list>-->

		</div>
	</div>
 	
</ion-header>

<ion-content>
	<div class="jaubrawrapper">
		<div #map id="map"></div>
		<div *ngIf="btn_atualizar" class="btnround" (tap)="atualizar()">
			<ion-icon name="locate"></ion-icon>
		</div>

		<div *ngIf="chamando" class="chamando_class">
			<ion-spinner color="black" name="bubbles"></ion-spinner> 
			<span class="txt_chamando">Buscando motoristas</span>
		</div>

		<div id="overMaps">
			<div *ngIf="aguardando_final" class="class_aguar_fim">
				<span class="texto_aguar_fim">
					Aguarde chegada ao destino
				</span>
			</div>
		</div>

		<!--
		<div *ngIf="confirmachamada" class="confchama">
			
		<--<div [ngClass]="confirmachamada ? 'confchama' : 'fechachamad'">->

			<div class="super_box_pgmts">
				<div 
				(tap)="opcaoPagamento(opc, i)" 
				id="boxpgmt{{i}}" 
				#boxpgmt 
				class="box1" 
				*ngFor="let opc of opcpgm; let i = index" 
				[attr.index]="i" 
				tabindex="{{opc.index}}">
					<div class="box_texto">
						<span class="texto_desc">{{opc.texto}}</span>
					</div>
					<div class="box_imagem">
						<img [src]="opc.imagem">
					</div>
					<div class="box_preco">
						<span class="texto_preco">R$ {{opc.preco}}</span>
					</div>
				</div>
			</div>
			<div class="divbtn" (click)="efetuaChamada()">
				<span class="botao_efetuar">Efetuar Chamada</span>
			</div>
	 	</div>-->
	</div>

</ion-content>

<div *ngIf="confirmachamada" class="rodape_slide" >
	<ion-slides pager="true">
		<ion-slide *ngFor="let carro of opcoes_carros">
			<div class="slidecarro">
				<span class="slide_texto" [innerHTML]="carro.texto"></span>
				<img class="img_carros" style="border:0;margin:0;" [src]="carro.img" alt="">
				<span class="slide_preco" [innerHTML]="carro.preco_label"></span>
			</div>
		</ion-slide>
	</ion-slides>
	<div class="btn_slide_efetuar">
		<div class="divbtn" (click)="efetuaChamada()">
			<span class="botao_efetuar_slide">Efetuar Chamada</span>
		</div>
	</div>
</div>

<div class="rodape" *ngIf="info_motorista">
	<div class="titulo">O motorista <b>{{motorista_corrida.nome}}</b> está a caminho</div>
	<div class="moto_info_wrapper">
		<div class="metade_esquerda">
			<div class="moto_info_profile">
				<div class="moto_imagem_profile">
					<img src="assets/imgs/profile.jpg">
				</div>
				<div class="moto_info_score">{{pontuacao_motorista}}</div>
			</div>
			<div class="carro_info_profile">
				<div class="carro_imagem_profile">
					<img src="assets/imgs/perfil_motorista.png">
				</div>
				<div class="carro_info_score">{{pontuacao_carro}}</div>
			</div>
		</div>
		<div class="metade_direita">
			<div class="carro_way_info"> 
				<div class="nome_carro">{{motorista_corrida.carro}}</div>
				<div class="placa_carro">{{motorista_corrida.placa}}</div>
			</div>
		</div>
	</div>
	<div (tap)="cancelarBusca()" class="btn_cancelar">CANCELAR CORRIDA</div>
</div>

<!--
<ion-footer *ngIf="info_motorista">
  <ion-toolbar>
    <div class="footer_info_motorista">
		<div style="float: left;">
			<ion-item>
				<ion-avatar item-start>
					<img src="assets/imgs/profile.jpg">
				</ion-avatar>
				<h2>{{motorista_corrida.nome}}</h2>
				<p>{{motorista_corrida.carro}}</p>
				<p>{{motorista_corrida.placa}}</p>
			</ion-item>
		</div>
		<div style="float: right;">
			<ion-item>
				<button ion-button outline small color="danger" (click)="cancelarBusca()">
					<ion-icon name="ios-hand"></ion-icon>
				</button>
				<button ion-button outline small color="dark" (click)="msgParaMorotista()">
				  <ion-icon name="md-chatboxes"></ion-icon>
				</button>
				<button ion-button outline small color="dark" (click)="ligarParaMotorista(motorista_corrida.celular)">
				  <ion-icon name="md-call"></ion-icon>
				</button>
			</ion-item>
		</div>
    </div>
  </ion-toolbar>
</ion-footer>
-->
