page-home-passageiro {

	ion-spinner *{
		width: 28px;
		height: 28px;
		stroke: #fff !important;
		fill: #fff !important;
	}

	.searchdest{
		padding-top: 0px !important;
	}
	.searchorig{
		padding-bottom: 0px !important;
	}
	.icone_origem{
	    left: 16px;
	    top: 11px;
	    background-image: url("../assets/imgs/perfil_usuario.png");
	    width: 18px;
	    height: 22px;
	    position: absolute;
	    background-repeat: no-repeat;
	    background-size: 20px;
	}
	.icone_destino{
	    left: 16px;
	    top: 11px;
	    background-image: url("../assets/icon/destino.png");
	    width: 18px;
	    height: 22px;
	    position: absolute;
	    background-repeat: no-repeat;
	    background-size: 20px;
	}

	.imgiconinfoende{
		float: left;
	}

	.textoinfoend{
		float: left;
		margin-left: 20px;
		margin-top: 5px;

	}

	.searchbar-md .searchbar-input{
		-webkit-box-shadow: none;
		box-shadow:none;
		border: 1px solid #fff;
	}
	#map{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	ion-header{
		top: 15px !important;
	}
	.jaubrawrapper{
		position: relative;
		width: 100%;
  		height: 100%;
	}
	#overMaps{
		display: none;
		position: absolute;
		padding: 50px;
		top: 0;
		left: 0;
		/*background: transparent;*/
		background-color:rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
		z-index: 888888;
	}
	.class_aguar_fim{
		position: absolute;
		top: 40%;
		margin: 0 auto;
		background-color: #fff;
		border-radius: 5px;
		left: 5px;
		padding: 40px;
		width: 97%;
	}
	.texto_aguar_fim{
		color: #35c3ca;
		
		font-size: 20px;
	}
	.scroll-content{
		margin-top: 0px !important;
	}
	.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
		color: #040404;
	}
	.btnround{
	    padding: 9px;
	    right: 20px;
	    position: absolute;
	    z-index: 5000;
	    bottom: 59px;
	    background-color: #fff;
	    font-size: 20px;
	    border-radius: 50%;
		   
	}

	#right-panel {
		font-family: 'Roboto','sans-serif';
		line-height: 30px;
		padding-left: 10px;
	}

	#right-panel select, #right-panel input {
		font-size: 15px;
	}

	#right-panel select {
		width: 100%;
	}

	#right-panel i {
		font-size: 12px;
	}

	#right-panel {
		margin: 20px;
		border-width: 2px;
		width: 20%;
		height: 400px;
		float: left;
		text-align: left;
		padding-top: 0;
	}
	#directions-panel {
		margin-top: 10px;
		background-color: #FFEE77;
		padding: 10px;
	}

	.buscaend{
		width: 100%;
		overflow:hidden;
		background-color: #fff;

		/*-webkit-box-shadow: 3px 2px 20px 5px rgba(0, 0, 0, 0.39);
		-moz-box-shadow: 3px 2px 20px 5px rgba(0, 0, 0, 0.39);
		box-shadow: 3px 2px 20px 5px rgba(0, 0, 0, 0.39);*/
		/*overflow: auto;*/
	}

	div.buscaend{
	  animation: 1s buscaend;
	  /*margin-top:0%;*/

	}

	@keyframes buscaend{
	  from{
	    margin-top: 200%;
	    /*height: 1000px; */
	  }

	  to{
	    margin-top: 0%;
	    /*height: 1000px;*/
	  }
	}

	.closebuscaend{
		width: 100%;
		height: 0px;
		overflow:hidden;
		background-color: #fff;

	}

	div.closebuscaend{
	  animation: 1s closebuscaend;
	  margin-top:0%;
	}

	@keyframes closebuscaend{
	  from{
	    margin-top: 0%;
	    /*height: 1000px;*/
	  }

	  to{
	    margin-top: 200%;
	    /*height: 1000px;*/
	  }
	}

	.confchama{

		width: 100%;
		height: 220px;
		background-color: #fff;
		-webkit-box-shadow: 1px 9px 20px 10px rgba(0, 0, 0, 0.39);
		-moz-box-shadow: 1px 9px 20px 10px rgba(0, 0, 0, 0.39);
		box-shadow: 1px 9px 20px 10px rgba(0, 0, 0, 0.39);
		padding: 10px;
		position: absolute;
		bottom: 0px;
		z-index: 5000;
		overflow-x: hidden;
		overflow-y: hidden;
		white-space: nowrap;
	}

	.confchama1{
		width:100%;
	    height:210px;
	    border: 13px solid #bed5cd;
	    overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
	    box-sizing:border-box;
	   	position: absolute;
		bottom: 0px;
		z-index: 5000;
	}

	.super_box_pgmts{
		clear: both;
		width: auto;
		height: 150px;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
	}

	.box1{
		margin: 0 auto;
		width: 38%;
		height: auto;
		cursor: pointer;
		/*float: left;*/
		margin-right: 0;
		opacity: 0.4;
		display: inline-block;
	}

	.forcefocus{
		border-radius: 10px 10px 10px 10px;
	    border: 1px solid #e6ae48;
	    opacity: 1;
	}

	/*div.confchama{
	  animation: 0s confchama;
	  margin-top:62%;
	}*/

	/*@keyframes confchama{
	  from{
	    margin-top: 62%;
	    height: 1000px; 
	  }

	  to{
	    margin-top: 200%;
	    height: 1000px;
	  }
	}*/

	.fechachamad{
		width: 100%;
		height: 0px;
		overflow:hidden;
		background-color: #fff;
	}

	div.fechachamad{
	  animation: 1s fechachamad;
	  margin-top:0%;
	}

	@keyframes fechachamad{
	  from{
	    margin-top: 0%;
	    height: 1000px;
	  }

	  to{
	    margin-top: 200%;
	    height: 1000px;
	  }
	}



	/*.box1:focus {
		border-radius: 10px 10px 10px 10px;
	    border: 1px solid #e6ae48;
	    opacity: 1;
	}*/

	.box_texto{
		padding: 10px;
		text-align: center;
	}
	.texto_desc{
		color: #000;
	}
	.box_imagem{
		width: 100%;
	}
	.box_imagem > img{
		display: block; 
		margin-left: auto;
		margin-right: auto;
	}

	.box_preco{
		padding: 10px;
		text-align: center;
	}
	.texto_preco{
		color: #0b7377;
		font-weight: bold;
	}
	.divbtn{

		width: 100%;
		
	}

	.botao_efetuar{
		text-align: center;
		display: block; 
		margin-left: auto;
		margin-right: auto;
		margin: 0 auto;
		width: 100%;
		background-color: #35c3ca;
		color: #000;
		font-size: 18px;
		padding: 10px;
		border-radius: 5px 5px 5px 5px;
	}

	.locais_salvos{
		width: 100%;
		background-color: #f50;
		height: 150px;
		overflow: auto;
	}

	.infochamada{
		background-color: #f50;
		padding: 15px;
		color: #000;
		font-size: 15px;
	}

	.chamando_class{
		text-align: center;
	    width: 100%;
	    height: auto;
	    position: absolute;
	    top: 50%;
	    padding: 25px;
	    background-color: #333;
	    color: #fff;
	}
	.txt_chamando{
		text-align: center;
		padding: 50px;
	}
	.toast_chamando{

	}

	.toasterro{
		.toast-message{
			background-color: #f30d0d;
		}
	}

	.rodape{
		margin: 0 auto;
		width: 94%;
		background-color: #fff;
	   	position: absolute;
		bottom: 12px;
		z-index: 5000;
		left: 3%;

		.titulo{
			text-align: center;
			padding: 5px;
		}

		.moto_info_wrapper{
			padding-left: 5%;
			padding-right: 5%;
			border-bottom: 1px solid #ccc;
			float: left;
			width: 100%;
			margin-bottom: 10px;
			margin-top: 10px;

			.metade_esquerda{
				width: 50%;
				float: left;
				margin-bottom: 10px;
				margin-top: 10px;
				text-align: center;

				.moto_info_profile{
					width: 50%;
					float: left;
					height: 100%;
					
					.moto_imagem_profile{
						margin-right: 15px;
						text-align: center;
					}
					.moto_imagem_profile img{
						border-radius: 50%;
						height: 60px;
					}
					.moto_info_score{
						margin-right: 15px;
						text-align: center;
					}
				}

				.carro_info_profile{
					width: 50%;
					float: right;
					height: 100%;

					.carro_imagem_profile img{
						
						text-align: center;
						height: 60px;
					}
					.carro_info_score{
						text-align: center;
						height: 50%;
						margin: 0 auto;
					}
				}
			}
			.metade_direita{
				width: 50%;
				float: right;
				margin-top: 20px;
				.carro_way_info{
					float: right;
					.nome_carro{
						color: #828282;
						font-size: 14px;
						text-align: right;
					}
					.placa_carro{
						color: #666;
						font-size: 20px;
						text-align: right;
					}
				}
			}
		}
		.btn_cancelar{
			text-align: center;
			padding: 10px;
			margin-top: 15px;
			color: #807e7e;
		}
	}

	.rodape_slide{
		margin: 0 auto;
		width: 94%;
		background-color: #fff;
	   	position: absolute;
		bottom: 10px;
		z-index: 5000;
		left: 3%;
		height: auto;
		text-align: center;
		padding-top: 25px;
		padding-bottom: 5px;
		.slidecarro{
			padding-top: 5px;
			margin: 0 auto;
			width: 75%;
			height: 120px;
			margin-bottom: 35px;
			border: 1px solid #35c3ca;
			border-radius: 5px 5px 5px 5px;
		}
		.slide_texto{
			float: left;
			width: 100%;
		}
		.img_carros{

		}
		.slide_preco{
			float: left;
			width: 100%;
			padding-bottom: 0px;
		}
		.btn_slide_efetuar{
			margin-top: 10px;
			margin-bottom: 10px;
			.botao_efetuar_slide{
				text-align: center;
				display: block; 
				margin-left: auto;
				margin-right: auto;
				margin: 0 auto;
				width: 80%;
				background-color: #35c3ca;
				color: #000;
				font-size: 18px;
				padding: 10px;
				border-radius: 5px 5px 5px 5px;
			}
		}
	}
/*
swiper-pagination swiper-pagination-clickable swiper-pagination-bullets

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets
*/
	/*ion-slide.swiper-slide {
	    align-items: flex-start;
	}
	ion-slide.slide-zoom {
	    align-items: flex-start;
	}*/
}

.toast_motorista_run{
	.toast-message{
		background-color: #fff;
		color: #21a8af;
	}
	.toast-button {
		background-color: #fff;
		color: #000;
		border: 1px solid #33afb5;
		margin-right: 15px;
	}
	.toast-wrapper{
		background-color: #fff !important;
	}
}

.toast_motorista_aguardando{
	.toast-message{
		background-color: #33afb5;
		color: #fff;
	}
	.toast-wrapper{
		padding:15px;
		background-color: #33afb5 !important;
		border: 1px solid #33afb5;
	}
	.toast-button {
		background-color: #fff;
		color: #33afb5;
		border: 1px solid #8fe0e4;
		
	}
}

