<ion-header>
  <ion-navbar>
    <ion-title text-center>Cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="txtende">
		Qual é o número do seu CPF?
	</div>
	<div class="wrpinput">
		<ion-icon name="md-close-circle" (tap)="limpa()" class="icone"></ion-icon>
		<input type="number" maxlength="11" [(ngModel)]="cadastro.cpf">
	</div>
	<br/>
	<div class="btnemail" (tap)="senha(cadastro.cpf)">CONTINUAR</div>
</ion-content>
