<ion-menu [content]="content" id="pas">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <!--<button menuClose ion-item (click)="openPage('Home')">Home</button>-->
      <button menuClose ion-item (click)="openPage('DadosPas')">Dados Cadastrais</button>
      <button menuClose ion-item (click)="openPage('Enderecos')">Endereços</button>
      <button menuClose ion-item (click)="openPage('Pagamentos')">Formas de pagamento</button>
      <button menuClose ion-item (click)="sair()">Sair</button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu [content]="content" id="mot">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
     <!-- <button menuClose ion-item (click)="openPage('Home')">Home</button>-->
      <button menuClose ion-item (click)="openPage('DadosMot')">Dados Cadastrais</button>
      <button menuClose ion-item (click)="openPage('Veiculos')">Veículos</button>
      <button menuClose ion-item (click)="sair()">Sair</button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- [root]="rootPage" Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
