<ion-header>
  <ion-navbar>
    <ion-title>Recuperar senha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="txtende">
		Digite seu email para recuperar sua senha
	</div>
	<div class="wrpinput">
		<ion-icon name="md-close-circle" (tap)="limpa()" class="icone"></ion-icon>
		<input type="email" [(ngModel)]="email">
	</div>
	<br/>
	<div class="btnemail" (tap)="solicitar(email)">Enviar</div>
</ion-content>
