<ion-header>
  <ion-navbar>
    <ion-title text-center>Cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="txtende" text-center>
		Qual é o seu nome?
	</div>
	<div class="wrpinput">
		
		<div class="divinput_left">
			<ion-icon class="iconeleft" *ngIf="nomedigita" name="md-close-circle" (tap)="limpa('a')" ></ion-icon>
			<input type="text" (keyup)="exibeLimpa('a',cadastro.nome)" [(ngModel)]="cadastro.nome">
		</div>

		<div class="divinput_right">
			<ion-icon class="iconeright" *ngIf="sobrenomedigita" name="md-close-circle" (tap)="limpa('b')" ></ion-icon>
			<input type="text" (keyup)="exibeLimpa('b',cadastro.sobrenome)" [(ngModel)]="cadastro.sobrenome">
		</div>

	</div>
	<br/><br/><br/><br/>
	<div class="btnemail" (tap)="celular(cadastro.nome, cadastro.sobrenome)">CONTINUAR</div>
</ion-content>
