<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dados Cadastrais</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label floating>Nome</ion-label>
    <ion-input [(ngModel)]="user.nome" type="text"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label floating>Sobrenome</ion-label>
    <ion-input [(ngModel)]="user.sobrenome" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Celular</ion-label>
    <ion-input [(ngModel)]="user.celular" type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>CPF</ion-label>
    <ion-input maxlength="11" [readonly]="isReadonly()" [(ngModel)]="user.cpf" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>CNH</ion-label>
    <ion-input [(ngModel)]="user.cnh" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Vencimento CHN</ion-label>
    <ion-datetime min="2018" doneText="Selecionar" cancelText="Cancelar" displayFormat="DD/MM/YYYY" [(ngModel)]="user.vecimento"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label floating>Endereço</ion-label>
    <ion-input [(ngModel)]="user.endereco" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating primary>Senha</ion-label>
    <ion-input [(ngModel)]="user.senha" [type]="passwordType"></ion-input>
    <button ion-button clear item-end (click)='hideShowPassword()' style="height:32px;">
      <ion-icon [name]="passwordIcon" style="font-size:32px;"></ion-icon>
    </button>
  </ion-item>
 <br/>

  <ion-item>
    <button ion-button block color="light" (tap)="fotocnh()" icon-start>
    <ion-icon name="camera"></ion-icon>
    Imagem CNH
    </button>
    <!--<img style="max-width: 100%" [src]="image_cnh" *ngIf="image_cnh"/>-->
    <div text-center *ngIf="image_cnh">
     <ion-icon color="secondary" name="checkmark-circle">  Imagem selecionada  </ion-icon> 
    </div>
   </ion-item>
  <br/>

  <ion-item>
    <button ion-button block color="light" (tap)="fotocomres()" icon-start>
    <ion-icon name="camera"></ion-icon>
    Imagem comp. residência
    </button>
    <div text-center *ngIf="image_resid">
     <ion-icon color="secondary" name="checkmark-circle">  Imagem selecionada  </ion-icon> 
    </div>
   </ion-item>
  <br/>
 
  <ion-item>
    <button ion-button block color="light" (tap)="fotoantec()" icon-start>
    <ion-icon name="camera"></ion-icon>
    Imagem antecedentes criminais
    </button>
    <div text-center *ngIf="image_antece">
     <ion-icon color="secondary" name="checkmark-circle">  Imagem selecionada  </ion-icon> 
    </div>
   </ion-item>
  <br/>
   
  <!--<button ion-button full color="light" (tap)="enviar()">enviar</button><br/>-->

  <ion-row>
    <ion-col text-center>
      <button ion-button block color="primary" (tap)="salvar(user)">
        Salvar
      </button>
    </ion-col>
  </ion-row>

</ion-content>
