<ion-header>
	<ion-navbar color="dark">
		<ion-buttons left>
			<button (click)="dismiss()" ion-button icon-only>
				<ion-icon name="md-arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Locais salvos</ion-title>
		<ion-buttons *ngIf="alterado" right>
			<button (click)="confirmar()" ion-button icon-only>
				Selecionar
			</button>
		</ion-buttons>
		
		<ion-buttons *ngIf="apagado" right>
			<button (click)="apagar(localpadrao)" ion-button icon-only>
				 <ion-icon name="trash"></ion-icon>
			</button>
		</ion-buttons>
		
	</ion-navbar>
	<ion-toolbar>
	  <ion-searchbar placeholder="Procure um local" [(ngModel)]="autocomplete.query" [showCancelButton]="false" (ionInput)="buscaEndereco()" (ionCancel)="dismiss()"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-list-header>
			<ion-icon name="ios-pin-outline"></ion-icon> Digite e veja a lista de locais
		</ion-list-header>
		<ion-item text-wrap *ngFor="let item of autocompleteItems" tappable (click)="selecionaEndereco(item)">
			<ion-icon name="ios-pin"></ion-icon> {{ item.descricao }}
		</ion-item>
	</ion-list>
	<ion-list radio-group [(ngModel)]="defaulend">
		<ion-list-header>
			<ion-icon name="ios-navigate-outline"></ion-icon> Meus locais
		</ion-list-header>
		<ion-item text-wrap *ngFor="let loc of listmesloc">
			<ion-label>{{ loc.nome }}<br/><span class="subtext_meulocal">{{loc.endereco}}</span></ion-label>
			<ion-radio value="{{loc.placeId}}" (ionSelect)="selecionarPadrao(loc.placeId)"></ion-radio>
		</ion-item>
	</ion-list>
</ion-content>
