<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Veículos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="margin: 0 auto; " text-center>Escolha o veículo padrão</div>

  <br/><br/>
  <ion-list radio-group [(ngModel)]="padraoveic">
  
    <ion-item *ngFor="let car of veiculos">
      <ion-label>{{car.descricao}}</ion-label>
      <ion-radio value="{{car.id}}" (ionSelect)="selecionarPadrao(car.id)"></ion-radio>
    </ion-item>

  </ion-list>

  <br/><br/>
 <ion-row>
    <ion-col text-center>
      <button ion-button full outline color="primary" (tap)="addVeiculo()" style="font-size: 12px;">
        Adicionar veículo
      </button>
    </ion-col>
  </ion-row>

</ion-content>
