<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dados Cadastrais</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label floating>Nome</ion-label>
    <ion-input [(ngModel)]="user.nome" type="text"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label floating>Sobrenome</ion-label>
    <ion-input [(ngModel)]="user.sobrenome" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Celular</ion-label>
    <ion-input [readonly]="isReadonly()" [(ngModel)]="user.celular" type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>CPF</ion-label>
    <ion-input maxlength="11" [readonly]="isReadonly()" [(ngModel)]="user.cpf" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating primary>Senha</ion-label>
    <ion-input [(ngModel)]="user.senha" [type]="passwordType"></ion-input>
    <button ion-button clear item-end (click)='hideShowPassword()' style="height:32px;">
      <ion-icon [name]="passwordIcon" style="font-size:32px;"></ion-icon>
    </button>
  </ion-item>
 <br/>

  <br/>
   
  <!--<button ion-button full color="light" (tap)="enviar()">enviar</button><br/>-->

  <ion-row>
    <ion-col text-center>
      <button ion-button block color="primary" (tap)="salvar(user)">
        Salvar
      </button>
    </ion-col>
  </ion-row>

</ion-content>
