<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Formas de pagamento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	
	<div style="margin: 0 auto;" text-center>Escolha o meio de pagamento padrão</div>
	
	<br/>
	<br/>
	<ion-list radio-group [(ngModel)]="pagamento">

	  <ion-item>
	    <ion-label>Dinheiro</ion-label>
	    <ion-radio value="dinheiro" (ionSelect)="selecionarPadrao('dinheiro')"></ion-radio>
	  </ion-item>

	  <ion-item>
	    <ion-label>Cartão</ion-label>
	    <ion-radio value="cartao" (ionSelect)="selecionarPadrao('cartao')"></ion-radio>
	  </ion-item>

	</ion-list>

	<div style="margin: 0 auto; font-size: 12px" [ngClass]="pagamento != 'cartao' ? 'desabilitado' : 'habilitado'" text-center>Lista de cartões</div>

	<ion-list radio-group [(ngModel)]="cartao">
		<!-- tappable -->
	  <ion-item *ngFor="let card of cartoes">
	    <ion-label style="font-size: 12px">{{card.tipo}} (***** {{card.numero}})</ion-label>
	    <ion-radio value="{{card.id}}" [checked]="card.padrao == 1" [disabled]="pagamento != 'cartao'" (ionSelect)="selecionarPadraoCartao(card.id)"></ion-radio>
	  </ion-item>

	</ion-list>

 <ion-row>
    <ion-col text-center>
      <button ion-button full outline color="primary" (tap)="addPagamento()" style="font-size: 12px;">
        Adicionar cartão de crédito
      </button>
    </ion-col>
  </ion-row>
</ion-content>
