page-modal-chat {
	ion-content {

    height: 100%;
    overflow: hidden;
    .item-md, .item-ios {
      background: none;
    }
  }
  ion-footer {
    background: white;
    ion-icon {
      padding: 10px;
      font-size: 20px;
      color: green;
    }
  }
  .chat-status {
    min-height: 49px;
    .chat-date {
      display: block;
      font-size: 10px;
      font-style: italic;
      color: #fff;
      text-shadow: 0px -1px 0px #222, 0px 1px 0px #aaa;
      height: 15px;
      left: 10%;
      right:10%;
    }
    .chat-content-center {
      padding: 5px 10px;
      background-color: #e1e1f7;
      border-radius: 6px;
      font-size: 12px;
      color: #555;
      height: 34px;
      left: 10%;
      right:10%;
    }
  }
  .chat-message {
    width: 80%;
    min-height: 40px;
    .right-bubble {
    	position: relative;
    	background: #dcf8c6;
    	border-top-left-radius: .4em;
      border-bottom-left-radius: .4em;
      border-bottom-right-radius: .4em;
      padding: 5px 10px 10px;
      left: 15%;
      span.msg-name {
        font-size: 12px;
        font-weight: bold;
        color: green;
      }
      span.msg-date {
        font-size: 10px;
      }
    }
    .right-bubble p{
      padding-top: 5px;
    }
    .right-bubble:after {
    	content: '';
    	position: absolute;
    	right: 0;
    	top: 0;
    	width: 0;
    	height: 0;
    	border: 27px solid transparent;
    	border-left-color: #dcf8c6;
    	border-right: 0;
    	border-top: 0;
    	margin-top: -13.5px;
    	margin-right: -27px;
    }
    .left-bubble {
    	position: relative;
    	background: #ececec;
      border-top-right-radius: .4em;
      border-bottom-left-radius: .4em;
      border-bottom-right-radius: .4em;
      padding: 5px 10px 10px;
      left: 5%;
      span.msg-name {
        font-size: 12px;
        font-weight: bold;
        color: rgb(181, 181, 187);
      }
      span.msg-date {
        font-size: 10px;
      }
    }
    .left-bubble p{
      padding-top: 5px;
    }
    .left-bubble:after {
    	content: '';
    	position: absolute;
    	left: 0;
    	top: 0;
    	width: 0;
    	height: 0;
    	border: 27px solid transparent;
    	border-right-color: #ececec;
    	border-left: 0;
    	border-top: 0;
    	margin-top: -13.5px;
    	margin-left: -27px;
    }
}
}
