<ion-header>
	<ion-navbar color="dark">
		<ion-buttons left>
			<button (click)="voltar()" ion-button icon-only>
				<ion-icon name="md-arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Mensagens</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of mensagens" no-lines>
      <div class="chat-message" text-right *ngIf="chat.perfil == 'mot'">
        <div class="right-bubble">
          <p text-wrap>{{chat.mensagem}}</p>
        </div>
      </div>
      <div class="chat-message" text-left *ngIf="chat.perfil != 'mot'">
        <div class="left-bubble">
          <p text-wrap>{{chat.mensagem}}</p>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<!--
  <ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of mensagens" no-lines>

      <div class="chat-status" text-center *ngIf="chat.type==='join'||chat.type==='exit';else message">
        <span class="chat-date">{{chat.sendDate | date:'short'}}</span>
        <span class="chat-content-center">{{chat.message}}</span>
      </div>

      <ng-template #message>
        <div class="chat-message" text-right *ngIf="chat.user === nickname">
          <div class="right-bubble">
            <span class="msg-name">Me</span>
            <span class="msg-date">{{chat.sendDate | date:'short'}}</span>
            <p text-wrap>{{chat.message}}</p>
          </div>
        </div>
        <div class="chat-message" text-left *ngIf="chat.user !== nickname">
          <div class="left-bubble">
            <span class="msg-name">{{chat.user}}</span>
            <span class="msg-date">{{chat.sendDate | date:'short'}}</span>
            <p text-wrap>{{chat.message}}</p>
          </div>
        </div>
      </ng-template>
      
    </ion-item>
  </ion-list>
</ion-content>
-->
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Escreva sua mensagem" [(ngModel)]="data.mensagem" name="message"></ion-input>
      </ion-col>
      <ion-col col-2 (click)="sendMessage()">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
