<ion-header no-border>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content class="corpo">

	<div class="topo">
		<br/><br/><br/>
		<img src="assets/imgs/logotipo.png" width="80%">
		<br/><br/><br/>
	</div>

	<div class="formacesso">

		<div class="txtoinit">
			Seu primeiro cadastro?<br/>
			Selecione qual seu perfil abaixo para se cadastrar
		</div>

		<div class="faixabranca" (tap)="escolhaPerfil('pas')">
			<div class="btnescolhaperfil_passageiro">
			</div>
			<span class="titulo_perfil_passageiro">PASSAGEIRO</span>
		</div>
		<br/><br/>

		<div class="faixabranca" (tap)="escolhaPerfil('mot')">
			<div class="btnescolhaperfil_motorista">
			</div>
			<span class="titulo_perfil_motorista">MOTORISTA</span>
		</div>

	</div>

</ion-content>

