page-cadastro-selecionar-perfil {

	.content, .footer{
		background-color: #1aacd9;
	}

	.topo{
		background-color: #fff;
	}

	.topo img{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.toolbar-md{
		min-height: 10px;
	}
	
	.toolbar-background-md{
		background-color:#fff;
	}

	.formacesso{
		width: 100%;
	}

	.txtoinit{
		margin: 0 auto;
		width: 100%;
		color: #ffffff;
		padding-right: 10%;
		padding-left: 10%;
		margin-top: 10px;
		font-size: 12px;
    	font-weight: bold;
    	padding-top: 15px;
    	padding-bottom: 15px;
	}

	.faixabranca{
		width:100%;
		background-color:#fff;
		height: 50px;
		position: relative;
		margin-top: 50px;
	}

	.btnescolhaperfil_passageiro{
		top: -23px;
		position: absolute;
		background-color: #fff;
		height: 100px;
		width: 100px;
		left: 40px;
		background-image: url("../assets/icon/botao_perfil_usuario.png");
	    background-repeat: no-repeat;   
	    background-position: center;
	}

    .titulo_perfil_passageiro{
    	font-size: 25px;
    	color: #00bbcc;
    	float: right;
    	padding-right: 50px;
    	padding-top: 8px;
    }

	.btnescolhaperfil_motorista{
		top: -23px;
		position: absolute;
		background-color: #fff;
		height: 100px;
		width: 100px;
		left: 40px;
		background-image: url("../assets/icon/botao_perfil_motorista.png");
	    background-repeat: no-repeat;   
	    background-position: center;
	}

    .titulo_perfil_motorista{
    	font-size: 25px;
    	color: #fabb3e;
    	float: right;
    	padding-right: 50px;
    	padding-top: 8px;
    }
}
