<ion-header>
  <ion-navbar color="dark">
		<ion-buttons left>
			<button (click)="dismiss()" ion-button icon-only>
				<ion-icon name="md-arrow-back"></ion-icon>
			</button>
		</ion-buttons>
    <ion-title>Adicionar novo endereço</ion-title>
  </ion-navbar>
	<ion-toolbar>
	  <ion-searchbar placeholder="Digite o endereço" [(ngModel)]="autocomplete.query" [showCancelButton]="false" (ionInput)="buscaEndereco()" (ionCancel)="dismiss()"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
	  <ion-item text-wrap *ngFor="let item of autocompleteItems" tappable (click)="selecionaEndereco(item)">
	    <ion-icon name="ios-pin"></ion-icon> {{ item.descricao }}
	  </ion-item>
	</ion-list>
</ion-content>
