<ion-header>
  <ion-navbar hideBackButton color="primary">
	<ion-buttons left>
		<button (click)="voltar()" ion-button icon-only>
			<ion-icon name="md-arrow-back"></ion-icon>
		</button>
	</ion-buttons>
    <ion-title>Pagamento</ion-title>
	<ion-buttons right>
		<button (click)="confirmar()" ion-button icon-only>
			confirmar
		</button>
	</ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list radio-group [(ngModel)]="escolha">
	  <ion-item>
	    <ion-label>
	    	<ion-icon name="ios-card"></ion-icon> &nbsp;  &nbsp; 
	    Cartão de crédito</ion-label>
	    <ion-radio value="cartao"></ion-radio>
	  </ion-item>
	  <ion-item>
	    <ion-label>
	    	<ion-icon name="ios-cash-outline"></ion-icon>  &nbsp;  &nbsp; 
	    Dinheiro</ion-label>
	    <ion-radio value="dinheiro"></ion-radio>
	  </ion-item>
	  <ion-item>
	    <ion-label>
	    	<ion-icon name="md-car"></ion-icon> &nbsp;  &nbsp; 
	    Pagar no carro (cartão)</ion-label>
	    <ion-radio value="carro"></ion-radio>
	  </ion-item>
	</ion-list>
	<br/>
	<br/>
	<ion-list>
		<ion-list-header>
			Detalhes da corrida
		</ion-list-header>

		<ion-item>
			Valor <span class="txtdeta">R$ {{preco}}</span>
		</ion-item>
		<ion-item>
			Distância <span class="txtdeta">{{distancia}}</span>
		</ion-item>
		<ion-item>
			Tempo estim. <span class="txtdeta">{{duracao}}</span>
		</ion-item>

	</ion-list>

</ion-content>
